@model MDAProject.Web.Data.Entities.Warehouse

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Warehouse</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WarehouseName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WarehouseName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
@if (Model.Inventories.Count == 0)
{
    <h5>Not Inventaries added yet.</h5>
}
else
{
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Inventories</h3>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                   Date
                                </th>
                                <th>
                                   Responsible
                                </th>
                                <th>
                                   Devices
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Inventories)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DateInventaryLocal)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.WarehouseManager.User.FullName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Devices.Count)
                                    </td>
                                    
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}
